@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1><b>THE 試行錯誤.</b></h1>

        <p><a href="http://localhost:57969/Member/Create" class="btn btn-info btn-lg">新規登録</a></p>
        <p><a href="http://localhost:57969/Member/Login" class="btn btn-success btn-lg">ログイン</a></p>
    </div>

